body {
    margin: 0px;
    background-color: #ffe6f7;/*ffe6ff*/
    font-family: 'Nerko One', cursive;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    
}

.page-nav {
    background-color: #220033;
    border: 1px solid white;
    position: relative;

}

.page-nav h2 {
    margin: 20px;
    text-align: center;
    color: #fff;
}

.button-checkout {
    background-color: #b3ff1a;
    color: black;
    border: 2px solid white; 
    transition-duration: 0.5s;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.button-checkout:hover {
    background-color: #330066; 
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: #e6e6e6;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  }

.product-container img {
    width: 300px;
}

.product-container h1 {ss
    margin-bottom: 10px;
    margin-left: 15px;
    color: #19004d;
}

.button-add {
    background-color: #999999;
    color: black;
    border: 2px solid #ccff66;  /**/
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #330066; /* Green */
    color: white;
}

/*section*/
.fogo div {
    width: 100%;
    height: 600px;
    background: #c748a1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 100%, 62%, 0.600), hsla(340, 50%, 60%, 0.500)), url(images/fond.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(240, 100%, 62%, 0.500), hsla(340, 50%, 60%, 0.100)), url(images/fond.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
    opacity: 4;
}

.fogo .textos-header{
    display: flex;
    height:630px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.fogo .textos-header h1{
    color: #fff;
    font-size: 50px;
    font-family: germain;
}
